<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>rest</display-name>

	<servlet>
		<servlet-name>Rest Root</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>fragsoft.library.rest</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Rest Root</servlet-name>
		<url-pattern>/resource/*</url-pattern>
	</servlet-mapping>

</web-app>


